[run]
omit =
    *__init__.py,
    tests/*,
    venv/*,
    env/*,
    setup.py,
    bitcart/sync.py,
    bitcart/providers/jsonrpcrequests.py,
[report]
exclude_lines =
    pragma: no cover
    if not webhook_available:
    raise NotImplementedError()
    if TYPE_CHECKING: