version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.6.8

    environment:
      BITCOIND_VERSION: 0.20.0

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-bitcoind-0.20.0

      - run:
          name: install library
          command: |
            python3 -m venv ~/venv
            . ~/venv/bin/activate
            pip install .   
            pip install -r test-requirements.txt

      - run:
          name: install daemon and regtest utils
          command: |
            . ~/venv/bin/activate
            mkdir -p ~/bitcoind && cd ~/bitcoind
            wget -N https://bitcoin.org/bin/bitcoin-core-$BITCOIND_VERSION/bitcoin-$BITCOIND_VERSION-x86_64-linux-gnu.tar.gz
            tar xzf bitcoin-$BITCOIND_VERSION-x86_64-linux-gnu.tar.gz
            sudo install -m 0755 -o root -g root -t /usr/local/bin bitcoin-$BITCOIND_VERSION/bin/*
            cd ~/repo
            sudo apt install libsecp256k1-dev
            pip install electrumx
            git clone https://github.com/bitcartcc/bitcart ~/bitcart-daemon
            cd ~/bitcart-daemon
            pip install -r requirements/base.txt
            pip install -r requirements/daemons/btc.txt

      - save_cache:
          paths:
            - ~/bitcoind
          key: v1-bitcoind-0.20.0

      - run:
          name: prepare daemon
          command: |
            . ~/venv/bin/activate
            cd ~/bitcart-daemon
            make mainnet
          background: true

      - run:
          name: run fast tests
          command: |
            . ~/venv/bin/activate
            make ci

      - run:
          name: prepare bitcoind
          command: |
            make bitcoind
          background: true
      
      - run:
          name: prepare electrumx
          command: |
            . ~/venv/bin/activate
            make electrumx
          background: true

      - run:
          name: prepare regtest daemon
          command: |
            . ~/venv/bin/activate
            cd ~/bitcart-daemon
            pkill -SIGINT -f "python3 daemons/btc.py"
            make regtest
          background: true

      - run:
          name: run regtest tests
          command: |
            . ~/venv/bin/activate
            sleep 5s
            make regtest
            codecov

      - store_artifacts:
          path: test-reports
          destination: test-reports
  deploy:
    docker:
      - image: circleci/python:3.6.8
    steps:
      - checkout
      - run:
          name: setup credentials
          command: |
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "username = $PYPI_USER" >> ~/.pypirc
            echo -e "password = $PYPI_PASS" >> ~/.pypirc
      - run:
          name: create env, build dist and upload
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -U wheel twine
            python setup.py sdist 
            python setup.py bdist_wheel
            twine upload dist/*

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - deploy:
          context: global
          requires:
            - test
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
